@import 'tailwindcss';

@theme inline {
  --font-fallback:
    'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-primary: 'Roboto Mono';
  --font-secondary: 'AT Amiga';

  --color-lightgrey: #e4e4e4;
  --color-lightergrey: #bebebe;
  --color-light: #f6f6f6;
  --color-primary: #ff7120;
  --color-grey: #9e9e9e;
  --color-dark: #0e0e0e;
  --color-darkgrey: #848484;
  --color-dark-60: #636363;
  --color-darklighter: #1b1b1b;

  --breakpoint-xs: 27rem;
  --breakpoint-1.5xs: 31rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-1.25md: 50rem;
  --breakpoint-1.5md: 56rem;
  --breakpoint-2md: 62rem;
  --breakpoint-2lg: 70rem;
  --breakpoint-5xl: 125rem;

  --text-16px-size: 1rem;
  --text-12px-size: 0.75rem;
  --text-14px-size: 0.875rem;
  --text-18px-static: 18px;
  --text-12px-mob-size: 0.857rem;
  --text-48px-size: 3rem;
  --text-64px-size: 4rem;
  --text-72px-size: 4.5rem;
  --text-14px-mob-size: 1rem;
  --text-11px-size: 0.6875rem;
  --text-18px-size: 1.125rem;
  --text-20px-size: 1.25rem;

  --animate-marquee: marquee 18s infinite linear;

  @keyframes marquee {
    to {
      transform: translateX(-100%)
    }
  }
}

@layer base {

  /* Webkit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: ;
  }

  ::-webkit-scrollbar-thumb {
    background-color: ;
    border-radius: 5px;
    border: 2px solid oklch(67.65% 0.1539 329.18 / 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: ;
    /* Efecto hover */
  }

  /* Firefox */
  * {
    scrollbar-color: ;
    scrollbar-width: thin;
  }
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'AT Amiga';
  src: url('/fonts/AtAmiga-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  /* color-scheme: light dark; */
}

::selection {
  color: var(--color-dark);
  background: var(--color-primary);
}

button {
  cursor: pointer;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  scrollbar-width: none;
}

html,
body {
  min-height: 100vh;
  font-family: 'Roboto Mono', var(--font-fallback);
  font-weight: 400;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @apply bg-lightgrey text-dark;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  cursor: url('/cursor-default.png') 16 10, auto;
}

a,
button,
[role="button"] {
  cursor: url('/cursor-pointer.png') 16 10, auto;
}

*:focus {
  outline: none;
}

@media screen and (width > 460px) {
  html {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1000));
  }
}

@media screen and (width > 1440px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 1440px) / 720));
  }
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

@utility clip-path-button-link {
  -webkit-clip-path: polygon(10px 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%,
      0 10px);
  clip-path: polygon(10px 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%,
      0 10px);
  padding: 1.5px;
}

@utility dot-pattern {
  background-image: radial-gradient(circle, theme(colors.dark-60/0.4) 7%, transparent 7%);
  background-size: 16px 16px;
}

@utility cursor-pointer {
  cursor: url('/cursor-pointer.png') 16 10, auto;
}