---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import Projects from '@/sections/Projects.astro'
import CallToAction from '@/sections/CallToAction.astro'
import ClipPathTecnologies from '@/sections/Skills'
import BlockDecoration from '@/components/BlockDecoration.astro'

import { translations } from '@/i18n/translations'

const { title, description } = translations.en
---

<Layout
  title={title}
  description={description}
  canonical="https://yangua.dev"
  robots="index, follow"
>
  <Hero />
  <ClipPathTecnologies lang="en" client:load>
    <div style="--separation: 0px; opacity: 0.75">
      <BlockDecoration />
    </div>
  </ClipPathTecnologies>
  <Projects />
  <CallToAction />
</Layout>
