---
import Header from '@/sections/Header.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
---

<Layout title='Yangua Ruiz Samir | Designer Front-End Developer'>
  <Header />
  <main class='mt-20'>
    <Hero />
  </main>
</Layout>
