---
import Header from '@/sections/Header.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import Projects from '@/sections/Projects.astro'
import CallToAction from '@/sections/CallToAction.astro'
---

<Layout title='Yangua Ruiz Samir | Designer Front-End Developer'>
  <Header />
  <main class='mx-6 md:mx-11 mt-20 2xl:mx-16'>
    <Hero />
    <Projects />
    <CallToAction />
  </main>
</Layout>


<script>
  import textScramble from '@/lib/text-scramble'
  textScramble()
</script>