<>
  <div class="block-decoration decoration-top-left border sm:border-2"></div>
  <div class="block-decoration decoration-top-right border sm:border-2"></div>
  <div class="block-decoration decoration-bottom-left border sm:border-2"></div>
  <div class="block-decoration decoration-bottom-right border sm:border-2"></div>
</>

<style>
  .block-decoration {
    border-color: currentColor;
    width: var(--size, 0.5rem);
    height: var(--size, 0.5rem);
    position: absolute;
  }
  .decoration-top-left {
    border-bottom-width: 0;
    border-right-width: 0;
    top: var(--separation, 0.75rem);
    left: var(--separation, 0.75rem);
  }
  .decoration-top-right {
    border-bottom-width: 0;
    border-left-width: 0;
    top: var(--separation, 0.75rem);
    right: var(--separation, 0.75rem);
  }
  .decoration-bottom-left {
    border-top-width: 0;
    border-right-width: 0;
    bottom: var(--separation, 0.75rem);
    left: var(--separation, 0.75rem);
  }
  .decoration-bottom-right {
    border-top-width: 0;
    border-left-width: 0;
    bottom: var(--separation, 0.75rem);
    right: var(--separation, 0.75rem);
  }
</style>
