---
import SearchIcon from '@/assets/search.svg'
import CloseIcon from '@/assets/close.svg'
import Select from './Select'
import RadioButton from './RadioButton'
import { translations } from '@/i18n/translations'
import type { Lang } from '@/types'

const categories = [
  { id: 'all', label: 'All', checked: true },
  { id: 'landing', label: 'Landing pages' },
  { id: 'webApp', label: 'Web apps' },
  { id: 'clone', label: 'Clones' },
  { id: 'tool', label: 'Tools' },
]

const { lang } = Astro.props as { lang: Lang }
const { search } = translations[lang]
---

<div class="bg-lightgrey border-b-grey sticky top-[calc(5rem-1px)] z-[1] mx-[1px] border-b">
  <form
    id="filters-form"
    name="filters-form"
    method="get"
    class="flex items-start justify-between px-10 py-4"
    aria-label="Filter form"
  >
    <Select client:load className="2lg:hidden min-w-3xs flex w-max" categories={categories} />
    <div class="2md:w-max 2lg:flex hidden w-full gap-3">
      {
        categories.map((category) => {
          return <RadioButton groupName="Categories" option={category} />
        })
      }
    </div>

    <div class="max-w-2/5 relative hidden w-full sm:block">
      <!-- Accessible tag but not visible -->
      <label for="search" class="sr-only">{search}</label>
      <input
        class="border-grey bg-lightgrey text-dark hover:border-dark focus:border-dark peer w-full border px-11 py-3 text-sm transition-colors duration-300"
        maxlength="25"
        name="search"
        data-name="search"
        placeholder="search"
        type="text"
        id="search"
        autocomplete="off"
      />
      <SearchIcon class="absolute inset-y-0 left-3 my-auto size-5 opacity-60" />
      <button
        id="resetBtn"
        type="reset"
        class="absolute inset-y-0 right-3 my-auto inline-block size-6 cursor-pointer peer-placeholder-shown:pointer-events-none peer-placeholder-shown:invisible peer-placeholder-shown:opacity-0"
      >
        <CloseIcon class="size-6" />
      </button>
    </div>
  </form>
</div>
