---
import { getRelativeLocaleUrl } from 'astro:i18n'
import USFlagIcon from '@/assets/flags/us.svg'
import ESFlagIcon from '@/assets/flags/es.svg'

const { pathname } = Astro.url
const availableLocales = [
  { code: 'es', label: 'Español' },
  { code: 'en', label: 'English' },
]
const currentLang = Astro.currentLocale || 'es'
const targetLang = currentLang === 'es' ? 'en' : 'es'
const href = getRelativeLocaleUrl(targetLang, pathname.replace(`/${currentLang}`, ''))
---

<a
  href={href}
  class="flex cursor-pointer items-center gap-1 rounded-sm px-3 py-2 text-sm uppercase hover:underline leading-none"
>
  {targetLang === 'en' ? <USFlagIcon width={20} /> : <ESFlagIcon width={20} />}
  {targetLang}
</a>
