---
const { title, subtititle } = Astro.props
---

<div
  class="bg-lightgrey border-t-grey mx-[1px] flex flex-col items-center justify-center border-t uppercase"
>
  <h2 class="font-secondary text-[10vw]">
    {title}
  </h2>
  <p class="-mt-2 pb-8 opacity-75">{subtititle}</p>
</div>
