---
import BladeIcon from '@/assets/blade.svg'
import IndicatorIcon from '@/assets/indicator.svg'
import ArrowBigIcon from '@/assets/arrowBig.svg'
import DotIcon from '@/assets/dot.svg'
import Button from '@/components/Button.astro'
---

<section id="call-to-action" class="5xl:mx-0.5 mx-[1px] mt-12">
  <div class="border-grey grid grid-rows-3 border-y lg:grid-cols-[2fr_1fr_1fr] lg:grid-rows-1">
    <!-- COPY INTRO -->
    <div class="p-18 bg-lightgrey relative text-lg">
      <BladeIcon class="absolute -left-[1px] -top-[1px] h-auto w-11" />
      <div>
        <h2
          class="relative flex flex-col items-start justify-start gap-2 pl-6 uppercase leading-none"
        >
          <span>¿Buscás sumar talento</span>
          <div class="bg-darklighter text-light px-2 py-1">O LANZAR UN PROYECTO?</div>
          <IndicatorIcon class="absolute left-0 top-1 h-auto w-2" />
        </h2>

        <p class="text-dark/85 mt-4 pl-6 text-base">
          Ya sea que estés buscando sumar a tu equipo un perfil creativo y técnico, o llevar tu
          presencia digital al siguiente nivel, estoy listo para ayudarte a lograrlo.
        </p>
      </div>
    </div>

    <!-- ILLUSTRATIONS -->
    <div
      class="bg-lightgrey border-y-grey relative flex items-center justify-center border-y p-8 lg:border-y-0 lg:bg-transparent"
    >
      <DotIcon class="absolute -bottom-[1px] left-0 h-auto w-11" />
      <ArrowBigIcon class="h-auto w-36 rotate-90 lg:rotate-0" />
    </div>

    <div class="px-18 flex flex-col justify-center gap-6 p-7 lg:px-7">
      <Button href="/contact"> ESTOY INTERESADO </Button>
      <Button href="/cv.pdf" download variant="outline"> DESCARGAR CV </Button>
    </div>
  </div>

  <!--  -->
  <section class="mt-18 border-t-grey bg-lightgrey relative mx-[1px] border-t p-12"></section>
</section>
