---
import BlockDecoration from '@/components/BlockDecoration.astro'
---

<section id="footer">
  <div
    class="text-dark-60 border-t-grey bg-lightgrey relative border-t py-12 text-center text-sm uppercase"
  >
    <div class="text-xl opacity-90 font-secondary">© 2025</div>
    <div class="">
      PORTAFOLIO CREADO POR <a
        scramble-text
        class="transition-colors hover:text-primary font-semibold"
        href="https://www.linkedin.com/in/yanguadotdev/">YANGUA.DEV</a
      >
    </div>

    <BlockDecoration />
  </div>
</section>
