---
import BlockDecoration from '@/components/BlockDecoration.astro'
import { translations } from '@/i18n/translations'
import type { Lang } from '@/types'

const currentLang = (Astro.currentLocale || 'es') as Lang
const { createdBy } = translations[currentLang]
---

<section id="footer" class="justify-self-end">
  <div
    class="text-dark-60 border-t-grey bg-lightgrey relative border-t py-12 text-center text-sm uppercase"
  >
    <div class="font-secondary text-xl opacity-90">© {new Date().getFullYear()}</div>
    <div class="">
      {createdBy}
      <a
        data-scramble-text
        class="hover:text-primary font-semibold transition-colors"
        href="https://www.linkedin.com/in/yanguadotdev/">YANGUA.DEV</a
      >
    </div>

    <BlockDecoration />
  </div>
</section>
