---
import HeaderClip from '@/components/HeaderClip.astro'
import BodyLines from '@/components/BodyLines.astro'
---

<header id='header'>
  <BodyLines />

  <div class='fixed w-full'>
    <HeaderClip position='left' />

    <div class='border-b-grey bg-lightgrey mx-6 border-b px-5 2xl:px-10'>
      <div class='header-inner relative grid h-20 grid-cols-[1fr_2fr_1fr] items-center'>
        <div class='brand-wrap'>
          <a
            href='/'
            class='brand w-nav-brand flex items-center gap-1 leading-none'
            aria-label='home'
            ><img
              width='auto'
              height='64'
              alt=''
              src='/favicon.svg'
              loading='lazy'
              class='brand-image h-12'
            />
            <div class='text-lg leading-none'>
              Yangua
              <div class='font-secondary text-3xl'>DEV.</div>
            </div>
          </a>
        </div>

        <div class='header-secondary 2md:border-x border-x-grey flex h-full items-center px-4'>
          <nav class='w-full'>
            <ul class='flex w-full items-center justify-evenly'>
              <li>
                <a href='#'>Proyectos</a>
              </li>
              <li>
                <a href='#'>Acerca de me</a>
              </li>
              <li>
                <a href='#'>Contactame</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class='header-actions flex justify-end'>
          <a href='#contact' class='button-primary inline-block'
            ><div class='button-primary-border'>
              <div scramble-text='' class='button-primary-text'>HABLEMOS</div>
            </div></a
          >
        </div>
      </div>
    </div>

    <HeaderClip position='right' />
  </div>

  <svg
    style='visibility: hidden; position: absolute;'
    width='0'
    height='0'
    xmlns='http://www.w3.org/2000/svg'
    version='1.1'
  >
    <defs>
      <filter id='rounded-corners'>
        <feGaussianBlur in='SourceGraphic' stdDeviation='1' result='blur'></feGaussianBlur>
        <feColorMatrix
          in='blur'
          mode='matrix'
          values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9'
          result='flt_tag'></feColorMatrix>
        <feComposite in='SourceGraphic' in2='flt_tag' operator='atop'></feComposite>
      </filter>
    </defs>
  </svg>
</header>

<style>
  .button-primary {
    color: var(--color-dark);
    /* font-size: var(--14px-size); */
    text-align: center;
    cursor: pointer;
    filter: url('#rounded-corners');
    line-height: 114%;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    position: relative;
  }

  .button-primary-border {
    background-color: var(--color-primary);
    -webkit-clip-path: polygon(
      10px 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%,
      0 10px
    );
    clip-path: polygon(
      10px 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%,
      0 10px
    );
    padding: 1px;
  }

  .button-primary-text {
    z-index: 2;
    background-color: var(--color-primary);
    font-size: var(--12px-size);
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-clip-path: polygon(
      10px 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%,
      0 10px
    );
    clip-path: polygon(
      10px 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%,
      0 10px
    );
    border-radius: 14px 3px 16px;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.5rem;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    display: block;
    position: relative;
  }

  .button-primary-text:hover {
    background-color: var(--color-lightgrey);
  }
</style>
