---
import HeaderClip from '@/components/HeaderClip.astro'
import RoundedCorners from '@/assets/roundedCorners.svg'
import Button from '@/components/Button'
import Brand from '@/components/Brand.astro'
---

<header id="header">
  <div class="fixed top-0 z-100 w-full">
    <HeaderClip position="left" />

    <div class="border-b-grey bg-lightgrey mx-6 border-b px-5 2xl:px-10">
      <div
        class="header-inner 2md:grid-cols-[1fr_2fr_1fr] relative grid h-20 grid-cols-2 items-center"
      >
        <Brand className="xs:scale-100 origin-left scale-90" />

        <div
          class="header-secondary 2md:border-x-[1.5px] border-x-grey 2md:flex hidden h-full items-center px-4"
        >
          <nav class="w-full">
            <ul class="flex w-full items-center justify-evenly">
              <li>
                <a href="#">Proyectos</a>
              </li>
              <li>
                <a href="#">Acerca de mi</a>
              </li>
              <li>
                <a href="#">Contactame</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header-actions flex justify-end">
          <Button href="/contact"> ¿HABLAMOS? </Button>
        </div>
      </div>
    </div>

    <HeaderClip position="right" />
  </div>

  <RoundedCorners />
</header>
