---
import HeaderClip from '@/components/HeaderClip.astro'
import RoundedCorners from '@/assets/roundedCorners.svg'
import Button from '@/components/Button.astro'
import Brand from '@/components/Brand.astro'
import { cn } from '@/lib/utils'
import { translations } from '@/i18n/translations'
import LanguageSwitcher from '@/components/LanguageSwitcher.astro'
import { type Lang } from '@/types'
import { getRelativeLocaleUrl } from 'astro:i18n'
import ToggleMenu from '@/components/ToggleMenu.astro'

const { pathname } = Astro.url

const currentLang = (Astro.currentLocale || 'es') as Lang
const isActive = (path: string) => {
  const segments = pathname.split('/').filter(Boolean)
  return segments[segments.length - 1] === path
}
const { talk } = translations[currentLang]
---

<header id="header">
  <div class="z-100 fixed top-0 w-full">
    <HeaderClip position="left" />

    <div class="border-b-grey bg-lightgrey 1.5xs:px-5 mx-6 border-b 2xl:px-10">
      <div
        class="header-inner 2md:grid-cols-[1fr_2fr_1fr] 2md:grid h-18 relative flex items-center justify-between sm:h-20"
      >
        <Brand className="max-w-max origin-left scale-75 sm:scale-100" />

        <div
          class="2md:border-x-[1.5px] border-x-grey 2md:flex hidden h-full items-center justify-end px-4"
        >
        </div>

        <div class="flex items-center justify-end gap-2">
          <LanguageSwitcher locale={currentLang} pathname={pathname} />
          <div class="flex justify-end">
            <Button
              href={getRelativeLocaleUrl(currentLang, '/contact')}
              className={cn('1.5xs:block hidden', isActive('contact') && 'pointer-events-none')}
            >
              {talk}
            </Button>
          </div>

          <ToggleMenu />
        </div>
      </div>
    </div>

    <HeaderClip position="right" />
  </div>

  <RoundedCorners />
</header>
