<section id="hero" class="overflow-hidden">
  <div class="container mx-11 2xl:mx-16">
    <header class="border-b border-b-grey relative">
      <h1 class="text-[13vw] font-secondary tracking-[-2px]">FRONT-END</h1>
    </header>
  </div>
</section>